version: '3.8'

services:
  app:
    build: .
    container_name: gofrocalor-api
    restart: unless-stopped
    network_mode: "host"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
